.App {
  text-align: center;
  background-color: #FFFFF1;
}

/* .app-header {
  border: 5px solid blue;
} */


/* .App-header {
  background-color: #342828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
} */

.App-link {
  color: #61dafb;
}

